
@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  font-family: 'Lato' !important;
}
a{
  color: white;
}
.panda{
  border-radius: 50%;
width: 100%;
max-width: 600px;
}
/* unvisited link */
a:link {
  text-decoration:none;
}

/* visited link */
a:visited {
  text-decoration:none;
}

/* mouse over link */
a:hover {
  text-decoration:none;
}

/* selected link */
a:active {
  text-decoration:none;
}

.sliderIcon{
  width: 100%;
  max-width: 60px;
  height: auto; 
}
.swiper-wrapper{
  height: 120px !important;
}

.swiper-slide{
  display:flex !important;
  justify-content: center;
  align-items: center;
}